/* .light .image-light {
  display: block;
}
.dark .image-dark {
  display: block;
} */

.modes {
  margin: var(--gutter) 0;
}

[data-mode] {
  display: inline-block;
  cursor: pointer;
  border-radius: calc(var(--radius) / 2);
  padding: .4rem .9rem;
}

[data-mode].active {
  color: var(--accent);
  background-color: var(--accent);
  color: #fff;
}

.image {
  max-width: 100%;
  border-radius: var(--radius);
  /* display: none; */
}

.accent {
  color: var(--accent);
  font-weight: bold;
}

blockquote {
  color: var(--secondary-color);
  font-size: .875rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.header {
  font-size: 1.85rem;
  color: var(--heading-color);
  line-height: 1.2;
}

hr {
  opacity: .1;
}

.toggler-light button::before {
  content: '🔅';
}

.toggler-dark button::before {
  content: '🌙';
}
